.trabalho_content{
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    border-radius: 20px;
}

.foto_trabalho{
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: center;
}

.foto_trabalho>img{
    object-fit: cover; object-position: center;
    height: 400px;
    width: 100%;
    box-shadow: #2f849e 0px 3px 8px;
    border-radius: 20px;
    /* height: 250px; */
}

.descricao{
        color: black;
        margin-top: 0px; 
        margin-left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
}

.titulo_{
    display: flex;
    justify-content: center;
    align-items: center ;
    color: rgb(2, 123, 145) ;
    font-family: 'Cinzel', serif;
    font-size: 29px;
}


