@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Preahvihear&family=Righteous&display=swap');

a{
 text-decoration: none;   
 color:white;
}

li{
    padding: 10px 0px;
    list-style-type:none;
}

footer{
    margin-top: 1000px;
    font-family: 'MuseoModerno', cursive;
    background-color: #79E4FF;
}

a:hover{
    color: rgb(86, 148, 184);
    transition: 1s;
}

.icons{
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

.icon1{
    background: url(../../assets/icons8-reproduzir-youtube-50.png);
    height: 48px;
    width: 48px;
}

.icon2{
    background: url(../../assets/icons8-twitter-50.png);
    height: 40px;
    width: 40px;
    background-size: 90%;
    background-repeat: no-repeat;
}

.ul{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.mattel{
    display: flex;
    margin-top: 60px;
    color: white;
}